# Fichiers temporaires / systèmes
.DS_Store
Thumbs.db

# Fichiers personnels et sensibles
*.log
.env
ftp-config.json
deploy-log.txt

# Dossiers locaux non déployables
node_modules/
.vscode/
.idea/

# Fichiers de configuration spécifiques à l’utilisateur
*.sublime-project
*.sublime-workspace

# GitHub / CI/CD
.github/
.gitignore
.gitattributes

# Archives ou fichiers compilés
*.zip
*.tar.gz
*.bak
*.old
*.swp

# Autres fichiers inutiles au déploiement
npm-debug.log*
yarn-debug.log*
yarn-error.log*
